<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{% endblock title %}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">EQuest</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarColor01"
          aria-controls="navbarColor01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
          </ul>
          <form class="d-flex mx-5" role="search" method="GET" action="/search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
              name="q"
              required
            />
            <button class="btn btn-outline-light" type="submit">Search</button>
          </form>
          {% if user.is_authenticated %}
            <span class="align-middle mx-3" style="color: #ffffff8c"
              >Welcome {{ user.username }}</span
            >
            <a href="/logout">
              <button type="button" class="btn btn-outline-light mx-2">
                Logout
              </button>
            </a>
          {% else %}
            <button
              type="button"
              class="btn btn-outline-light mx-2"
              data-bs-toggle="modal"
              data-bs-target="#loginModal"
            >
              Login
            </button>
            <button
              type="button"
              class="btn btn-outline-light mx-2"
              data-bs-toggle="modal"
              data-bs-target="#signUpModal"
            >
              Sign Up
            </button>
        {% endif %}
        </div>
      </div>
    </nav>
    {% for message in messages %}
    <div
      class="alert alert-{{ message.tags }} alert-dismissible fade show"
      role="alert"
    >
      <strong>Message : </strong> {{ message }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %}
    <div
      class="modal"
      id="loginModal"
      tabindex="-1"
      aria-labelledby="loginModal"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Login</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form action="/login" method="POST">
              {% csrf_token %}
              <div class="mb-3">
                <label for="loginUsername" class="form-label">Username</label>
                <input
                  type="text"
                  class="form-control"
                  id="loginUsername"
                  name="loginUsername"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="loginPassword" class="form-label">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="loginPassword"
                  name="loginPassword"
                  required
                />
              </div>
              <button type="submit" class="btn btn-dark">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal"
      id="signUpModal"
      tabindex="-1"
      aria-labelledby="signUpModal"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Sign Up</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form action="/signup" method="POST">
              {% csrf_token %}
              <div class="mb-3">
                <label for="username">Username</label>
                <input
                  type="text"
                  class="form-control"
                  id="username"
                  name="username"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="fname">First Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="fname"
                  name="fname"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="lname">Last Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="lname"
                  name="lname"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="signUpEmail" class="form-label">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="signUpEmail"
                  name="signUpEmail"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="signUpPassword1" class="form-label"
                  >Choose your Password</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="signUpPassword1"
                  name="signUpPassword1"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="signUpPassword2" class="form-label"
                  >Confirm your Password</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="signUpPassword2"
                  name="signUpPassword2"
                  required
                />
              </div>
              <button type="submit" class="btn btn-dark">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% block body %}{% endblock body %}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
      integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
